body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue:  #424874;
    --light-blue: #c9f9ff;
    --darker-blue: #C9EAFF;
}

body {
    background: rgb(127,127,213);
    background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 35%, rgba(145,234,228,1) 100%);
    font-family: 'Outfit', sans-serif;
    color: var(--dark-blue);
}

main h1, h2 {
    text-align: center;
}

main {
    margin: 2rem;
    padding: 2rem;
}

#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, auto));
    align-items: center;
    justify-items: center;
}

#weather-form {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 2rem auto;
    text-align: start;
}
#weather-form a {
    margin-left: 0.5rem;
}
#weather-form input {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 7px;
    color: var(--dark-blue);
}

#weather-form input[type="submit"] {
    background-color: var(--dark-blue);
    color: var(--light-blue);
}
#weather-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    transition: ease-in-out 0.4s;
}
.dark #weather-form input[type="submit"]:hover {
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

#weather-result {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: solid 2px var(--dark-blue);
    border-radius: 7px;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--darker-blue);
}
#weather-icon img{
    height: 100px;
    width: 100px;
}

#weather-result div {
    margin: 0.5rem;
}
h1 {
    font-size: 3rem;
    margin: auto;
    padding: 0;
}

#forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding: 2rem;
    gap: 2rem;
}

.forecast-item {
    width: 200px;
    height: 200px;
    border: solid 2px var(--dark-blue);
    border-radius: 7px;
    padding: 0.8rem;
    text-align: center;
    background-color: #C9EAFF;
    color: var(--dark-blue);
}
#forecast div img {
    height: 50px;
    width: 50px;
}

#submit-button {
    border: solid 1px rgba(15,12,41,1);
    border-radius: 7px;
    padding: 0.5rem;
}

.dark {
    background: rgb(15,12,41);
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
    color: white;
}

.dark .fas {
    color: white;
}

.dark a {
    color: var(--light-blue);
}

.dark #weather-form input[type="submit"] {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.dark .forecast-item {
    border: solid 2px var(--light-blue);
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

.dark #settings {
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

.dark #weather-result {
    border: solid 2px var(--light-blue);
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

.dark {
    color: var(--light-blue);
}

#customization-button {
    position: absolute;
    left: 0;
    top: -100px;
    padding: 2rem;
}

#weather-description {
    font-size: 1.2rem;
}
#customization-button:hover {
    cursor: pointer;
}

#customization {
    position: relative;
}

#settings {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--darker-blue);
    border: solid 2px var(--dark-blue);
    border-radius: 7px;
    padding: 2.1rem;
}

.fas {
    font-size: 1.5rem;
}

#settings input[type="radio"] {
    display: none;
}

#settings label {
    display: inline-block;
    padding: 0.2rem;
    border-radius: 7px;
    margin: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
}

#settings input[type="radio"]:checked + label {
    border: solid 2px var(--dark-blue);
}

#settings input[type="radio"]:hover + label:hover {
    border: solid 2px var(--dark-blue);
}

.dark #settings input[type="radio"]:checked + label {
    border: solid 2px var(--light-blue);
}

.dark #settings input[type="radio"]:hover + label:hover {
    border: solid 2px var(--light-blue);
}