body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue:  #424874;
    --light-blue: #c9f9ff;
    --darker-blue: #C9EAFF;
    --dark-green: #294B29;
    --olive-green: #50623A;
    --light-green: #789461;
    --lighter-green: #DBE7C9;
    --light-orange: #FD841F;
    --dark-orange: #E14D2A;
    --dark-pink: #CD104D;
    --violet: #9C2C77;
    --light-yellow: #FBF0B2;
    --grey: #B4B4B8;
    --light-grey: #C7C8CC;
    --lighter-grey: #E3E1D9;
    --light-beige: #F2EFE5;
    --dark-grey: #3D3B40;
}

body {
    background: rgb(127,127,213);
    background: linear-gradient(90deg, rgba(127,127,213,1) 0%, rgba(134,168,231,1) 35%, rgba(145,234,228,1) 100%);
    font-family: 'Outfit', sans-serif;
    color: var(--dark-blue);
}

/* main */

main {
    margin: 2rem;
    padding: 2rem;
}
main h1, h2 {
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin: auto;
    padding: 0;
}
#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, auto));
    align-items: center;
    justify-items: center;
}

/* weather search */

#weather-form {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 2rem auto;
    text-align: start;
}
#weather-form a {
    margin-left: 0.5rem;
}
#weather-form input {
    font-family: 'Outfit', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 7px;
    color: var(--dark-blue);
}
#submit-button {
    border: solid 1px rgba(15,12,41,1);
    border-radius: 7px;
    padding: 0.5rem;
}
#weather-form input[type="submit"] {
    background-color: var(--dark-blue);
    color: var(--light-blue);
}
#weather-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    transition: ease-in-out 0.4s;
}

/* weather results */

#weather-result {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: solid 2px var(--dark-blue);
    border-radius: 7px;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--darker-blue);
}
#weather-description {
    font-size: 1.2rem;
}
#weather-icon img{
    height: 100px;
    width: 100px;
}
#weather-result div {
    margin: 0.5rem;
}

/* weather alerts */

#weather-alerts {
    display: block;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: solid 2px var(--dark-blue);
    border-radius: 7px;
    padding: 1.5rem;
    width: 100%;
    background-color: var(--darker-blue);
}
/* seven days forecast */

#forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    padding: 2rem;
    gap: 2rem;
}
.forecast-item {
    width: 220px;
    height: 220px;
    border: solid 2px var(--dark-blue);
    border-radius: 7px;
    padding: 0.8rem;
    text-align: center;
    background-color: #C9EAFF;
    color: var(--dark-blue);
}
.fas {
    font-size: 1.3rem;
    margin: 0.2rem 0.5rem;
}
#forecast div img {
    height: 50px;
    width: 50px;
}

/* dark mode rules*/

.dark {
    background: rgb(15,12,41);
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
    color: var(--light-blue)
}
.dark #weather-result {
    border: solid 2px var(--light-blue);
    background-color: var(--dark-blue);
    color: var(--light-blue);
}
.dark .fas {
    color: white;
}
.dark a {
    color: var(--light-blue);
}
.dark #weather-form input[type="submit"] {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}
.dark #weather-form input[type="submit"]:hover {
    background-color: var(--dark-blue);
    color: var(--light-blue);
}
.dark .forecast-item {
    border: solid 2px var(--light-blue);
    background-color: var(--dark-blue);
    color: var(--light-blue);
}
.dark #settings {
    background-color: var(--dark-blue);
    color: var(--light-blue);
}
.dark #settings input[type="radio"]:checked + label {
    border: solid 2px var(--light-blue);
}
.dark #settings input[type="radio"]:hover + label:hover {
    border: solid 2px var(--light-blue);
}
.dark #weather-alerts {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border: solid 2px var(--light-blue);
}

/* nature mode rules */ 

.nature {
    background: rgb(120,148,97);
    background: linear-gradient(90deg, rgba(120,148,97,1) 1%, rgba(166,176,150,1) 39%, rgba(225,236,206,1) 86%);
    color: var(--dark-green);
}
.nature #weather-result {
    background-color: var(--lighter-green);
    color: var(--dark-green);
    border: solid 2px var(--dark-green);
}
.nature .fas {
    color: var(--dark-green);
}
.nature a {
    color: var(--dark-green);
}
.nature #weather-form input {
    color: var(--dark-green);
}
.nature #weather-form input[type="submit"] {
    background-color: var(--dark-green);
    color: var(--lighter-green);
}
.nature #weather-form input[type="submit"]:hover {
    background-color: var(--lighter-green);
    color: var(--dark-green);
}
.nature .forecast-item {
    border: solid 2px var(--dark-green);
    background-color: var(--lighter-green);
    color: var(--dark-green);
}
.nature #settings {
    background-color: var(--lighter-green);
    color: var(--dark-green);
    border: solid 2px var(--dark-green);
}
.nature #settings input[type="radio"]:checked + label {
    border: solid 2px var(--dark-green);
}
.nature #settings input[type="radio"]:hover + label:hover {
    border: solid 2px var(--dark-green);
}
.nature #weather-alerts {
    background-color: var(--lighter-green);
    color: var(--dark-green);
    border: solid 2px var(--dark-green);
}

/* sunset mode rules */

.sunset {
    background: rgb(253,132,31);
    background: linear-gradient(90deg, rgba(253,132,31,1) 1%, rgba(225,77,42,1) 39%, rgba(156,44,119,1) 86%);
    color: var(--light-yellow);
}
.sunset #weather-result {
    background-color: var(--light-yellow);
    color: var(--dark-orange);
}
.sunset .fas {
    color: var(--dark-orange);
}
.sunset a {
    color: var(--light-yellow);
}
.sunset #weather-form input {
    color: var(--dark-orange);
}
.sunset #weather-form input[type="submit"] {
    background-color: var(--dark-orange);
    color: var(--light-yellow);
}
.sunset #weather-form input[type="submit"]:hover {
    background-color: var(--light-yellow);
    color: var(--dark-orange);
}
.sunset .forecast-item {
    border: solid 2px var(--dark-orange);
    background-color: var(--light-yellow);
    color: var(--dark-orange);
}
.sunset #settings {
    background-color: var(--light-yellow);
    color: var(--dark-orange);
    border: solid 2px var(--dark-pink);
}
.sunset #settings input[type="radio"]:checked + label {
    border: solid 2px var(--dark-orange);
}
.sunset #settings input[type="radio"]:hover + label:hover {
    border: solid 2px var(--dark-orange);
}
.sunset #weather-alerts {
    background-color: var(--light-yellow);
    color: var(--dark-orange);
    border: solid 2px var(--dark-orange);
}

/* minimalistic mode rules*/

.minimalistic {
    background: rgb(180,180,184);
    background: linear-gradient(90deg, rgba(180,180,184,1) 1%, rgba(199,200,204,1) 39%, rgba(227,225,217,1) 86%);
    color: var(--dark-grey);
}
.minimalistic #weather-result {
    background-color: var(--lighter-grey);
    color: var(--dark-grey);
    border: solid 2px var(--dark-grey);
}
.minimalistic .fas {
    color: var(--dark-grey);
}
.minimalistic a {
    color: var(--dark-grey);
}
.minimalistic #weather-form input {
    color: var(--dark-grey);
}
.minimalistic #weather-form input[type="submit"] {
    background-color: var(--dark-grey);
    color: var(--lighter-grey);
}
.minimalistic #weather-form input[type="submit"]:hover {
    background-color: var(--light-beige);
    color: var(--dark-grey);
}
.minimalistic .forecast-item {
    border: solid 2px var(--dark-grey);
    background-color: var(--lighter-grey);
    color: var(--dark-grey);
}
.minimalistic #settings {
    background-color: var(--lighter-grey);
    color: var(--dark-grey);
    border: solid 2px var(--dark-grey);
}
.minimalistic #settings input[type="radio"]:checked + label {
    border: solid 2px var(--dark-grey);
}
.minimalistic #settings input[type="radio"]:hover + label:hover {
    border: solid 2px var(--dark-grey);
}
.minimalistic #weather-alerts {
    background-color: var(--lighter-grey);
    color: var(--dark-grey);
    border: solid 2px var(--dark-grey);
}

/* settings */

#settings {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--darker-blue);
    border: solid 2px var(--dark-blue);
    border-radius: 7px;
    padding: 2.1rem;
}
#settings input[type="radio"] {
    display: none;
}
#settings label {
    display: inline-block;
    padding: 0.2rem;
    border-radius: 7px;
    margin: 0.1rem;
    font-size: 1rem;
    cursor: pointer;
}
#settings input[type="radio"]:checked + label {
    border: solid 2px var(--dark-blue);
}
#settings input[type="radio"]:hover + label:hover {
    border: solid 2px var(--dark-blue);
}
#customization-button {
    position: absolute;
    left: 0;
    top: -100px;
    padding: 2rem;
}
#customization-button:hover {
    cursor: pointer;
}
#customization {
    position: relative;
}

#not-found {
    display: none;
    text-align: center;
    margin: auto;
}